# =========================
# IntelliJ IDEA
# =========================

.idea/
*.iml
*.iws
*.ipr



# =========================
# Java / Maven
# =========================

**/target/
*.class
*.jar
*.war
*.ear


# =========================
# Spring Boot local config
# =========================

**/application-local.properties
**/application-*.local.properties


# =========================
# Environment
# =========================

.env
.env.*
!.env.example


# =========================
# Database
# =========================

*.sql.backup
*.dump


# =========================
# Frontend
# =========================

**/node_modules/
**/dist/
**/build/
**/.vite/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# =========================
# Logs
# =========================

*.log
logs/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db


# =========================
# Docker
# =========================

docker-compose.override.yml